<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Matrícula</th>
      <th scope="col">E-mail</th>
    </tr>
  </thead>

  <tbody *ngFor="let professor of (professores | async)">
    <tr>
      <th scope="row">*</th>
      <td ><button [routerLink]="['/listProfessores', 'professor.email']"class="btn btn-secondary">{{ professor.nome }}</button></td>
      <td>{{ professor.email }}</td>
      <td>{{ professor.matricula }}</td>
    </tr>
  </tbody>
  
</table>
